{% set domain = env['project'].split(':') %}
{% if domain|length >1 %}
{% set projectName = domain[1] + '.' + domain[0] %}
{% else %}
{% set projectName = domain[0] %}
{% endif %}
resources:
#- type: iam.v1.serviceAccount
- type: gcp-types/iam-v1:projects.serviceAccounts
  name: {{ env['name'] }}
  properties:
    accountId: cyb-{{ properties['accountIdSuffix'] }}
    displayName: {{ properties['displayName'] }}
  accessControl:
    gcpIamPolicy:
#- type: iam.v1.serviceAccounts.key
- type: gcp-types/iam-v1:projects.serviceAccounts.keys
  name: sca-account-key
  properties:
    parent: $(ref.{{ env['name'] }}.name)
    privateKeyType: TYPE_GOOGLE_CREDENTIALS_FILE

outputs:
  - name: key
    value: $(ref.sca-account-key.privateKeyData)